@page
@model SaborSoft2.Pages.Menus.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h1>Details</h1>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Stock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Valor)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Menu.Codigo">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
