@page
@model SaborSoft2.Pages.Menus.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Menu[0].Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Menu[0].Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Menu[0].Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Menu) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Codigo">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Codigo">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Codigo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
